@import '../../common.less';

:host {
    div {
        border: 0;
        padding: 20px;
        min-height: 200px;
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        cursor: pointer;
        border-top: 2px solid;
        position: relative;

        &.purple {
            border-color: @primaryPurple;
        }
        &.orange {
            border-color: @primaryOrange;
        }
        &.green {
            border-color: @primaryGreen;
        }
        &.red {
            border-top: 3px solid;
            border-color: @primaryRed;
            &::before {
                content: '';
                position: absolute;
                width: 100px;
                height: 24px;
                top: -12px;
                left: 25px;
                background-image: url('../../assets/madad-lable.svg');
            }
        }
    }
}

