@import '../../common.less';

:host {
    > div {
        border: 0;
        padding: 20px;
        min-height: 200px;
        background-color: white;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        cursor: pointer;
        border-top: 2px solid;
        position: relative;

        .gender-index-label {
            display: none;
        }

        &.purple {
            border-color: @primaryPurple;
        }
        &.orange {
            border-color: @primaryOrange;
        }
        &.green {
            border-color: @primaryGreen;
        }
        &.red {

            .gender-index-label {
                display: block;
                position: absolute;
                height: 24px;
                top: -12px;
                left: 30px;
                background-color: @primaryRed;
                border-radius: 12px;
                font-weight: normal;
                color: white;
                padding: 1px 13px;;
            }

            border-color: @primaryRed;
        }
    }
}

