<div>
  <div class='title'>
    <h1 i18n>תוצאות</h1>
    <h2 *ngIf='num_results == 0' i18n>לא נמצאו תוצאות</h2>
    <h2 *ngIf='num_results > 0' i18n>נמצאו {{num_results | number}} תוצאות</h2>
    <h2 *ngIf='!num_results && num_results !== 0'>&nbsp;</h2>
  </div>
  <app-search-bar
    *ngIf='!tag'
    (changed)='search($event)'
    [term]='term'
    [color]='"white"'
    [backgroundColor]='"#785d70"'
    [icon]='"neg-search-ic"'
  ></app-search-bar>
  <div class='tag' *ngIf='tag'><span [routerLink]='"/search"'>&times;</span>{{tag}}</div>
</div>
