<app-item-page-header [color]='"purpleBg"'>
  <div class='header'>
    <h1>{{document.title}}</h1>
    <div class='infoline' *ngIf='document.author'>
      <label>מחברות</label>
      <span>{{document.author}}</span>
    </div>
    <div class='infoline' *ngIf='document.publisher'>
      <label>מקור</label>
      <span>{{document.publisher}}</span>
    </div>
    <div class='infoline'>
      <label></label>
      <span>{{document.pubyear}}</span>&nbsp;|&nbsp;
      <span>{{document.languages.join(', ')}}</span>
    </div>
  </div>
</app-item-page-header>
<div class='notes'>
{{document.notes}}
<br/>
<br/>
<strong>תגיות:</strong>&nbsp;{{document.tags.join(', ')}}
</div>
<app-item-page-search-results>
<h1>אולי יעניין אותך גם&hellip;</h1>
</app-item-page-search-results>