<app-item-page-header [color]='"purpleBg"'>
  <div class='header'>
    <h1>{{_._(document, 'title')}}</h1>
    <div class='infoline' *ngIf='document.authors'>
      <label i18n>מחברות</label>
      <span>{{_._(document, 'authors')}}</span>
    </div>
    <div class='infoline' *ngIf='document.publisher'>
      <label i18n>מקור</label>
      <span>
        <span>{{_._(document, 'publisher')}}</span><br/>
        <span>{{document.year}}</span>&nbsp;|&nbsp;
        <span>{{_._(document, 'languages').join(', ')}}</span>
      </span>
    </div>
  </div>
</app-item-page-header>
<div class='notes' [innerHtml]="_._(document, 'notes')"></div>
<div class='actions'>
  <a class='link' *ngIf='document.url' [href]='document.url' target='_blank' i18n>קישור למקור</a>
  <app-share-button kind='library'></app-share-button>
</div>
<div class='notes'>
  <div class='prop' *ngIf='document.source_kind'>
    <strong i18n>סוג מקור:</strong>&nbsp;{{_._(document, 'source_kind').join(', ')}}
  </div>
  <div class='prop' *ngIf='document.item_kind'>
    <strong i18n>סוג פריט:</strong>&nbsp;{{_._(document, 'item_kind').join(', ')}}
  </div>
  <div class='prop' *ngIf='document.life_areas'>
    <strong i18n>תחום חיים:</strong>&nbsp;{{_._(document, 'life_areas').join(', ')}}
  </div>
  <div class='prop tags' *ngIf='document.tags'>
    <strong i18n>תגיות:</strong>&nbsp;
    <span *ngFor="let tag of _.tags(document)"
      [routerLink]='"/search"' [queryParams]='{"tag": tag.src, "itag": tag.dst, "kind": "all", "filters": "{}", "sortOrder": "-year"}'
    ><a>{{tag.dst}}</a></span>
 </div>
</div>
<app-item-page-search-results [manager]='search'>
<h1 i18n>אולי יעניין אותך גם&hellip;</h1>
</app-item-page-search-results>