@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: @containerWidth;
    max-width: 100%;

    .notes {
        width: 100%;
        max-width: @containerWidth;
        font-size: 18px;
        margin: 60px 0;
        white-space: pre-wrap;
        ::ng-deep a {
            text-decoration: underline dotted;
        }
    }
    
    .actions {
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 100%;
        max-width: @containerWidth;
    
        .link {
            padding: 15px 30px;
            border-radius: 30px;
            // letter-spacing: 1.1px;
            border: 1px solid @primaryPurple;
            color: @primaryPurple;
            font-weight: bold;
        }
    }
    
    .tags a {
        text-decoration: none;
        display: inline-block;
        padding: 2px 10px;
        margin: 6px 5px;
        border-radius: 20px;
        .tagsMixin;
        cursor: pointer;
    }
    
    app-item-page-search-results {
    
        h1 {
            font-family: @secondaryFont;
            color: @primaryPurple;
            display: block;
            margin: 30px 0;
            font-size: 28px;
        }
    }

    @media only screen and (max-width: 1290px)  {
        padding: 0 20px;

        .notes {
            margin: 20px 0;
        }
    }
}

