@import '../../common.less';

:host {
    display: flex;
    width: 100vw;
    background-color: white;
    height: calc(@headerHeight + 10px);

    .header {
        width: 100vw;
        position: fixed;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        flex-flow: column;
        background-color: white;
        z-index: 5;

        .container {
            max-width: 1300px;
            width: 100%;
            display: flex;
            background-color: white;
            height: @headerHeight;
            align-items: center;

            .logo {
                cursor: pointer;
                height: 20px;
            }

            .section {
                font-family: @secondaryFont;
                font-size: 17px;
                font-weight: normal;
                margin-right: 5px;
                padding-right: 8px;
                position: relative;
                top: 1px;

                &.orange {
                    border-right: 2px solid @primaryOrange;
                    color: @primaryOrange;
                }
                &.green {
                    border-right: 2px solid @primaryGreen;
                    color: @primaryGreen;
                }
                &.red {
                    border-right: 2px solid @primaryRed;
                    color: @primaryRed;
                }
            }

            .separator {
                margin-right: auto;
            }
        }
    }
}