<div class='header' (click)='langSelected = menuSelected = false'>
  <div class='container'>
    <img class='logo' src='assets/sticky-logo.svg' (click)='router.navigateByUrl("/")'>
    <span class='section-link'       [class.active]='headerState.section === "publications"' i18n [routerLink]='"/publications"'>מאגר המידע הכללי</span>
    <span class='section-link green' [class.active]='headerState.section === "stats"' i18n [routerLink]='"/stats"'>סטטיסטיקה מגדרית</span>
    <span class='section-link orange' [class.active]='headerState.section === "orgs"' i18n [routerLink]='"/organisations"'>ארגונים ופעילות בתחום המגדר</span>
    <span class='section-link red' [class.active]='headerState.section === "gender_index"'i18n [routerLink]='"/gender-index"'>מדד המגדר</span>
    <span class='separator'></span>
    <app-header-search-icon></app-header-search-icon>
    <app-header-lang-selector [(selected)]='langSelected'></app-header-lang-selector>
    <app-header-menu [(selected)]='menuSelected'></app-header-menu>
  </div>
</div>