@import '../../common.less';

:host {
    display: flex;
    width: 100vw;
    background-color: white;
    height: calc(@headerHeight + 10px);

    .header {
        width: 100vw;
        padding: 0 -5px 0 0;
        position: fixed;
        box-shadow: 0px 6px 5px 0px rgba(204,204,204,1);
        top: 0px;
        right: 0px;
        display: flex;
        align-items: center;
        flex-flow: column;
        background-color: white;

        .container {
            max-width: 1300px;
            width: 100%;
            display: flex;
            background-color: white;
            height: @headerHeight;
            align-items: center;
            
            .separator {
                margin-right: auto;
            }
        }
    }
}