<div class='container'>
  <h1 i18n>מדד המגדר</h1>
  <h2>
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  <br/>
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  </h2>

  <div class='life-areas'>
    <div class='life-area'>
      <img src='assets/neg-aducation-ic.svg'/>
      <span i18n>השכלה</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-market-ic.svg'/>
      <span i18n>שוק העבודה</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-occupation-ic.svg'/>
      <span i18n>מגדור מקצועי</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-poverty-ic.svg'/>
      <span i18n>עוני</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-arabic-ic.svg'/>
      <span i18n>החברה הערבית</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-power-ic.svg'/>
      <span i18n>עוצמה</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-culture-ic.svg'/>
      <span i18n>תרבות ותקשורת</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-family-ic.svg'/>
      <span i18n>מצב משפחתי</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-time-ic.svg'/>
      <span i18n>זמן</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-religious-ic.svg'/>
      <span i18n>החברה החרדית</span>
    </div>
    <div class='life-area'>
      <img src='assets/net-violence-ic.svg'/>
      <span i18n>אלימות</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-health-ic.svg'/>
      <span i18n>בריאות</span>
    </div>
    <div class='life-area'>
      <img src='assets/neg-suburbs-ic.svg'/>
      <span i18n>פריפריה</span>
    </div>
  </div>

</div>
<div [class]='"carousel-card phase-" + ((phase + 1) % 4)'>
  <h3 i18n>פער מגדרי הולך וגדל</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 2) % 4)'>
  <h3>טקסט חסר. טקסט חסר.</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 3) % 4)'>
  <h3>טקסט חסר. טקסט חסר.</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 4) % 4)'>
  <h3>טקסט חסר. טקסט חסר.</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
