<div class='container'>
  <h1 i18n>מדד המגדר</h1>
  <h2>
    <span i18n>
      כאן ניתן לראות את תוצאות מדד המגדר, הבוחן את אי השוויון בין נשים לגברים בישראל במגוון תחומי חיים ועל פני עשרות אינדיקטורים.
    </span>
    <br/>
    <span i18n>
      מדד המגדר בוחן את רמת האי שוויון המגדרי לאורך השנים, מציג מגמות שינוי ומאפשר לזהות באיזה תחום הפער המגדרי הוא העמוק ביותר.
    </span>
  </h2>

  <div class='life-areas'>
    <div class='life-area'>
      <a href='gender-index#השכלה'>
        <img src='assets/gender_index_30x30/White/neg-aducation-ic.svg'/>
        <span i18n>השכלה</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#שוק העבודה'>
        <img src='assets/gender_index_30x30/White/neg-market-ic.svg'/>
        <span i18n>שוק העבודה</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#מגדור מקצועי'>
        <img src='assets/gender_index_30x30/White/neg-occupation-ic.svg'/>
        <span i18n>מגדור מקצועי</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#ביטחון כלכלי ועוני'>
        <img src='assets/gender_index_30x30/White/neg-poverty-ic.svg'/>
        <span i18n>עוני</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#החברה הערבית'>
        <img src='assets/gender_index_30x30/White/neg-arabic-ic.svg'/>
        <span i18n>החברה הערבית</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#עוצמה'>
        <img src='assets/gender_index_30x30/White/neg-power-ic.svg'/>
        <span i18n>עוצמה</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#תרבות ותקשורת'>
        <img src='assets/gender_index_30x30/White/neg-culture-ic.svg'/>
        <span i18n>תרבות ותקשורת</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#מצב משפחתי'>
        <img src='assets/gender_index_30x30/White/neg-family-ic.svg'/>
        <span i18n>מצב משפחתי</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#זמן'>
        <img src='assets/gender_index_30x30/White/neg-time-ic.svg'/>
        <span i18n>זמן</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#החברה החרדית'>
        <img src='assets/gender_index_30x30/White/neg-religious-ic.svg'/>
        <span i18n>החברה החרדית</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#אלימות מגדרית'>
        <img src='assets/gender_index_30x30/White/neg-violence-ic.svg'/>
        <span i18n>אלימות</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#בריאות'>
        <img src='assets/gender_index_30x30/White/neg-health-ic.svg'/>
        <span i18n>בריאות</span>
      </a>
    </div>
    <div class='life-area'>
      <a href='gender-index#פריפריה'>
        <img src='assets/gender_index_30x30/White/neg-suburbs-ic.svg'/>
        <span i18n>פריפריה</span>
      </a>
    </div>
  </div>

</div>
<div [class]='"carousel-card phase-" + ((phase + 1) % 4)'>
  <h3 i18n>הפער המגדרי גדל עם השנים</h3>
  <img src="assets/gender_index_graphs/opening_page/חברה ערבית@2x.png"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 2) % 4)'>
  <h3 i18n>המגמה של צמצום הפער המגדרי בייצוג הפוליטי<br/>נעצרה בבחירות לכנסת ה-21</h3>
  <img src="assets/gender_index_graphs/opening_page/כנסת@2x.png"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 3) % 4)'>
  <h3 i18n>הפער המגדרי הולך וגדל עם השנים</h3>
  <img src="assets/gender_index_graphs/opening_page/משרה חלקית@2x.png"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 4) % 4)'>
  <h3 i18n>"הרצפה עולה אך התקרה נוסקת" - הפער המגדרי בשכר הולך וגדל</h3>
  <img src="assets/gender_index_graphs/opening_page/שכר@2x.png"/>
</div>
