<div class='container'>
  <h1 i18n>מדד המגדר</h1>
  <h2>
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  <br/>
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  </h2>

  <div class='life-areas'>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-aducation-ic.svg'/>
      <span i18n>השכלה</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-market-ic.svg'/>
      <span i18n>שוק העבודה</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-occupation-ic.svg'/>
      <span i18n>מגדור מקצועי</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-poverty-ic.svg'/>
      <span i18n>עוני</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-arabic-ic.svg'/>
      <span i18n>החברה הערבית</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-power-ic.svg'/>
      <span i18n>עוצמה</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-culture-ic.svg'/>
      <span i18n>תרבות ותקשורת</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-family-ic.svg'/>
      <span i18n>מצב משפחתי</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-time-ic.svg'/>
      <span i18n>זמן</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-religious-ic.svg'/>
      <span i18n>החברה החרדית</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-violence-ic.svg'/>
      <span i18n>אלימות</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-health-ic.svg'/>
      <span i18n>בריאות</span>
    </div>
    <div class='life-area'>
      <img src='assets/gender_index_30x30/neg-suburbs-ic.svg'/>
      <span i18n>פריפריה</span>
    </div>
  </div>

</div>
<div [class]='"carousel-card phase-" + ((phase + 1) % 4)'>
  <h3 i18n>הפער המגדרי גדל עם השנים</h3>
  <img src="assets/gender_index_graphs/opening_page/חברה ערבית@2x.png"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 2) % 4)'>
  <h3>המגמה של צמצום הפער המגדרי בייצוג הפוליטי<br/>נעצרה בבחירות לכנסת ה-21</h3>
  <img src="assets/gender_index_graphs/opening_page/כנסת@2x.png"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 3) % 4)'>
  <h3>הפער המגדרי הולך וגדל עם השנים</h3>
  <img src="assets/gender_index_graphs/opening_page/משרה חלקית@2x.png"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 4) % 4)'>
  <h3>"הרצפה עולה אך התקרה נוסקת" - הפער המגדרי בשכר הולך וגדל</h3>
  <img src="assets/gender_index_graphs/opening_page/שכר@2x.png"/>
</div>
