<div class='main'>
  <div class='main-container'>
    <div class='section'>
      <img src='assets/footer-help.svg'/>
      <h1 i18n><a routerLink='contact-us'>עזרו לנו להשתפר</a></h1>
    </div>
    <div class='section'>
      <img class='separator' src='assets/line-footer.svg'/>
    </div>
    <div class='section'>
      <a href='/'><img class='logo' src='assets/footer-logo.svg'/></a>
    </div>
    <div class='section'>
      <img class='separator' src='assets/line-footer.svg'/>
    </div>
    <div class='section'>
      <img src='assets/footer-newsletter.svg'/>
      <a href='mailto:info@yodaat.org' target='_blank'><h1 i18n>צרו קשר במייל</h1></a>
    </div>
  </div>
</div>
<div class='credits'>
  <a href='https://daata.co/' target='_blank'><p i18n>עוצב ע״י סטודיו דעתה | daata.co</p></a>
  <a href='https://www.hasadna.org.il' target='_blank'><p i18n>פותח ע״י הסדנא לידע ציבורי</p></a>
</div>