<div class='main'>
  <div class='main-container'>
    <div class='section'>
      <img src='assets/footer-help.svg'/>
      <h1>עזרו לנו להשתפר</h1>
    </div>
    <div class='section'>
      <img class='separator' src='assets/line-footer.svg'/>
    </div>
    <div class='section'>
      <img class='logo' src='assets/footer-logo.svg'/>
    </div>
    <div class='section'>
      <img class='separator' src='assets/line-footer.svg'/>
    </div>
    <div class='section'>
      <img src='assets/footer-newsletter.svg'/>
      <h1>הרשמו לרשימת דיוור</h1>
    </div>
  </div>
</div>
<div class='credits'>
  <p>עוצב ע״י סטודיו דעתה | daata.co</p>
  <p>פותח ע״י הסדנא לידע ציבורי</p>
</div>