<app-fixed-background [color]='"rgba(0,0,0,0.05)"'></app-fixed-background>
<app-organisations-page-header></app-organisations-page-header>
<app-search-filters [itemKind]='"orgs"' [fixItemKind]='true' (updated)='search=search.newFromFilters($event)'>
</app-search-filters>
<app-search-bar
    (changed)='search=search.newFromTerm($event)'
    [color]='"rgb(255, 178, 55)"'
    [backgroundColor]='"rgba(255, 178, 55, 0.2)"'
    [icon]='"search-ic"'
    [instant]='true'
    placeholder='<strong>שם ארגון או פעילות בתחום</strong>'
    i18n-placeholder
></app-search-bar>
<h1 i18n>ארגונים ופעילות בתחום המגדר</h1>
<app-search-results [manager]='search'></app-search-results>
