  <ng-container *ngIf='field==="item_kind"' i18n>סוג פריט</ng-container>
  <ng-container *ngIf='field==="source_kind"' i18n>סוג מקור</ng-container>
  <ng-container *ngIf='field==="life_areas"' i18n>תחומי חיים</ng-container>
  <ng-container *ngIf='field==="languages"' i18n>שפות</ng-container>
  <ng-container *ngIf='field==="compact_services"' i18n>שירותי הארגון</ng-container>
  <ng-container *ngIf='field==="regions"' i18n>אזור גיאוגרפי</ng-container>
  <ng-container *ngIf='field==="org_kind"' i18n>סוג הארגון</ng-container>
  <ng-container *ngIf='field==="time_range"' i18n>שנים</ng-container>
