:host {
    display: flex;
    flex-flow: row;
    flex: 1 1 100%;

    > * {
        margin-left: 20px;
    }

    app-horizontal-selector:last-child {
        flex: 1 1 auto;
        ::ng-deep {
            .options {
                li {
                    white-space: normal;
                }
            }
        }
    }
}