<app-horizontal-selector appLtr>
  <span class='title'>
    <span i18n>סינון</span>
    <span i18n class='left'>נבחרו</span>
  </span>
  <ul>
    <li *ngFor='let item of properties'
        [class.selected]='selected===item'
        (click)='selected = item'
    >
      <span>
        <app-search-filters-property-field-name [field]='item.field'></app-search-filters-property-field-name>
      </span>
      <span class='left'>
        {{filters.numSelected(itemKind, item.field)}}
      </span>
    </li>
    <li [class.selected]='selected==="time_range"'
        (click)='selected = "time_range"'
        *ngIf='itemKind === "publications" || itemKind === "all"'
      >
      <span>
        <app-search-filters-property-field-name [field]='"time_range"'></app-search-filters-property-field-name>
      </span>
    </li>
  </ul>
</app-horizontal-selector>
<app-horizontal-selector *ngIf='selected && selected!=="time_range"' appLtr>
  <span class='title'>
    <span>
      <app-search-filters-property-field-name [field]='selected.field'></app-search-filters-property-field-name>
    </span>
    <span i18n class='left' (click)='filters.clearKind(itemKind)' style='cursor:pointer;'>
      איפוס כל הבחירות
    </span>
  </span>
  <ul *ngFor='let start of range(selected.options.length)'>
    <li *ngFor='let item of selected.options.slice(start, start+6)'
        [class.checked]='filters.isSelected(itemKind, selected.field, item.v)'
        (click)='filters.toggle(itemKind, selected.field, item.v)'
    >
      <span>{{_._(item, 'v')}}</span>
    </li>
  </ul>
</app-horizontal-selector>
<app-horizontal-selector *ngIf='filters.absRange && selected && selected==="time_range"' appLtr>
  <span class='title'>
    <span i18n>שנים</span>
  </span>
  <ul>
    <li>
      <app-time-range-selector (range)='filters.yearRange(itemKind, $event)'>
      </app-time-range-selector>
    </li>
  </ul>
</app-horizontal-selector>