<app-generic-page>
  <h1 i18n>
    אודות 
  </h1>
  <p i18n>
ברוכות הבאות וברוכים הבאים ל-יודעת, מרכז הידע המקיף והעשיר ביותר בישראל אודות נשים ומגדר. החזון שלנו כמרכז ידע הוא לתרום לקידום השוויון החברתי בישראל באמצעות הפיכת החשיבה המגדרית לנורמה מחייבת באיסוף מידע, במחקר, בפיתוח מדיניות ובעשייה חברתית-אזרחית. כך יהווה המרכז מקור מתמיד לחדשנות בתחומי פעילות אלה.
  </p>
  <p i18n>
המרכז משתף ומנגיש באופן קל ונוח מידע וידע מסוגים וממקורות שונים, על מנת לתמוך ביוזמות ובמהלכים לקידום שוויון מגדרי, לשמש מקור למידע לכלל הגורמים ומקבלי/ות ההחלטות הפועלים בתחום ולאפשר נגישות למידע ולנתונים בתחום המגדר לכולם ולכולן. באתר האינטרנט של מרכז הידע ניתן למצוא מידע רב ומגוון, בין היתר: מדד המגדר, דוחות מחקר וניירות עמדה, ארגונים הפועלים לקידום שוויון מגדרי, נתונים סטטיסטיים, חוקים, סרטונים, ודוגמאות לפעולות מוצלחות. המידע נאסף ממקורות רבים: ארגוני חברה אזרחית, משרדי ממשלה, מוסדות המדינה, השלטון המקומי, מוסדות אקדמיים, ארכיונים ועוד. 
  </p>
  <p i18n>
המידע באתר מוגש בחינם וללא כוונת רווח. אנחנו מזמינות אותך לעשות בו שימוש בפעילותך, להציע לנו מידע נוסף למאגר המידע ולהיעזר בנו באיתור מידע שחסר לך. המידע שאנו יוצרות באתר מוצע ברישיון שימוש פתוח (<a href='https://creativecommons.org/licenses/by-nc-sa/1.0/il/' target='_blank'>Creative Commons</a>) ואנו מציעות לכל מי שמעוניינת או מעוניין להציע חומרים לפרסום במרכז הידע - להציע אותם ברישיון שימוש דומה. 
  </p>
  <p i18n>
בכדי להבטיח שימוש הוגן במידע, כל פעולה של שיתוף ושימוש בתוכן הדיגיטלי הקיים באתר מרכז הידע תתבצע על פי תקנון המרכז. אנא קיראו את 
<a [routerLink]="'/eula'">התקנון ותנאי השימוש</a>
וכבדו ביחד איתנו את כללי השימוש ההוגן. 
  </p>
  <p i18n>
פיתוחו והקמתו של מרכז הידע התאפשרו הודות לתמיכתם של משרד המדע והטכנולוגיה ומכון ון ליר בירושלים, ושותפים לו שלושה ארגונים: 'שוות' לקידום נשים בזירה הציבורית במכון ון ליר בירושלים, מוסד שמואל נאמן בטכניון והסדנא לידע ציבורי.
  </p>
</app-generic-page>