<app-generic-page>
  <h1 i18n>
    אודות 
  </h1>

  <p i18n>
  ברוכות הבאות וברוכים הבאים ל-יודעת, מרכז הידע המקיף והעשיר ביותר בישראל אודות נשים ומגדר. החזון שלנו כמרכז ידע הוא לתרום לקידום השוויון החברתי בישראל באמצעות הפיכת החשיבה המגדרית לנורמה מחייבת באיסוף מידע, במחקר, בפיתוח מדיניות ובעשייה חברתית-אזרחית. כך יהווה המרכז מקור מתמיד לחדשנות בתחומי פעילות אלה.
  </p>
  <p i18n>
המרכז משתף ומנגיש באופן קל ונוח מידע וידע מסוגים וממקורות שונים על מנת לתמוך ביוזמות ובמהלכים לקידום שוויון מגדרי, לשמש מקור למידע לכלל הגורמים ומקבלי/ות ההחלטות הפועלים בתחום ולאפשר נגישות למידע ולנתונים בתחום המגדר לכולם ולכולן. באתר האינטרנט של מרכז הידע ניתן למצוא מידע רב ומגוון, בין היתר: מדד המגדר, דוחות מחקר וניירות עמדה, ארגונים הפועלים לקידום שוויון מגדרי, נתונים סטטיסטיים, חוקים, סרטונים, דוגמאות לפעולות מוצלחות, וקישורים למקורות מידע נוספים. המידע נאסף ממקורות רבים: ארגוני חברה אזרחית, משרדי ממשלה, מוסדות המדינה, השלטון המקומי, מוסדות אקדמיים, ארכיונים ועוד. 
  </p>
  <p i18n>
המידע באתר מוגש חינם וללא כוונת רווח. אנחנו מזמינות אותך לעשות בו שימוש בפעילותך, להציע לנו מידע נוסף למאגר המידע ולהיעזר בנו באיתור מידע שחסר לך. המידע שאנו יוצרות באתר מוצע ברישיון שימוש פתוח (<a href='https://creativecommons.org/licenses/by-nc-sa/1.0/il/' target='_blank'>Creative Commons</a>) ואנו מציעות לכל מי שמעוניינת או מעוניין להציע חומרים לפרסום במרכז הידע - להציע אותם ברישיון שימוש דומה. 
  </p>
  <p i18n>
כדי להבטיח שימוש הוגן במידע, כל פעולה של שיתוף ושימוש בתוכן הדיגיטלי הקיים באתר מרכז הידע תתבצע על פי תקנון המרכז. אנא קראו את <a routerLink='/eula'>התקנון ותנאי השימוש</a> וכבדו ביחד איתנו את כללי השימוש ההוגן. 
  </p>
  <p i18n>
פיתוחו של מרכז הידע והקמתו התאפשרו הודות לתמיכתם של משרד המדע והטכנולוגיה ומכון ון ליר בירושלים, ושותפים לו שלושה ארגונים: 'שוות' לקידום נשים בזירה הציבורית במכון ון ליר בירושלים, מוסד שמואל נאמן בטכניון והסדנא לידע ציבורי.
  </p>
  <h2 i18n>מוסדות וארגונים תומכים</h2>

  <div class='logos'>
<div class='logo'>
<img src='assets/fund_logos/about/מדע.png'/>
</div>
<div class='logo'>
<img src='assets/fund_logos/about/ווןליר.png'/>
</div>
  </div>

  <h2 i18n>ארגונים שותפים</h2>
  <div class='logos'>
<div class='logo'>
<img src='assets/fund_logos/about/שוות.png'/>
</div>
  </div>
  <h3 i18n>
שוות לקידום נשים בזירה הציבורית במכון ון ליר בירושלים
  </h3>
  <p i18n>
הוקם בתמיכת קרן דפנה יזרעאלי בסוף שנת 2009 מתוך מחויבות לרעיון של הטמעת חשיבה מגדרית (gender mainstreaming) כאסטרטגיה כוללת לקידום מעמדן הדמוקרטי והאזרחי של נשים מקבוצות שונות. עמדה זו מבקשת להוציא את סוגיית אי-השוויון המגדרי מן ה"גטו הנשי" ולנסחה מחדש בתור תפיסת עולם חברתית כללית הנוגעת לגברים ולנשים כאחד ולסדרי החברה בישראל בכלל. שוות שם לו למטרה להפוך את המושגים של שוויון מגדרי לחלק בלתי נפרד מן החשיבה והפעולה של קובעי המדיניות והמתכננים בתחומי החיים השונים.
  </p>
  <div class='logos'>
<div class='logo'>
<img src='assets/fund_logos/about/שמואלנאמן.png'/>
</div>
  </div>
  <h3 i18n>
מוסד שמואל נאמן למחקר מדיניות לאומית בטכניון
  </h3>
  <p i18n>
מכון מחקר שמטרתו לקדם קבלת החלטות לאומיות מושכלות במדינת ישראל באמצעות מחקר וניתוח של מידע מבוסס. המוסד מתמקד בהתווית מדיניות לאומית בנושאי מדע וטכנולוגיה, תעשייה, חינוך והשכלה גבוהה, תשתיות פיסיות, סביבה ואנרגיה. במוסד שמואל נאמן פועל מרכז מידע ממוחשב מהגדולים ביותר בישראל. המרכז הוקם על מנת למלא את צרכי ניהול הידע ואספקת שירותי המידענות למאגדים הפועלים במסגרת תכנית מגנ"ט של משרד הכלכלה.
  </p>
  <p i18n>
  <div class='logos'>
<div class='logo'>
<img src='assets/fund_logos/about/סדנא.png'/>
</div>
  </div>
  <h3 i18n>
הסדנא לידע ציבורי
  </h3>
  <p i18n>
עמותה ללא מטרות רווח, לא ממשלתית וללא השתייכות פוליטית, מבוססת מתנדבים, הפועלת לקידום שקיפות ומעורבות אזרחית באמצעות בניית כלים טכנולוגיים בקוד פתוח לפתיחה והנגשה של מידע המצוי ברשותם של גופי ממשל ומוסדות ציבוריים. בסדנא משתמשים במידע פתוח על מנת לנטר את פעילותם של גופי השלטון ונבחרי הציבור, ובכך לקדם מנהל תקין, להגביר שקיפות שלטונית ואחריותיות, ולחזק את הדמוקרטיה. בד בבד אנחנו רותמים מידע פתוח לטובת נקיטת אחריות חברתית ומעורבות אזרחית.
  </p>

<h2 i18n>שיתופי פעולה</h2>
  <p i18n>
אנו מודות על שיתוף הפעולה הפורה עם ספריית יונס וסוראיה נזריאן - מפתח חיפה למאמרים באוניברסיטת חיפה ועם הספרייה הלאומית. מוסדות אלה אפשרו לשתף בתכנים רבים של מאמרים וספרים.
  </p>

<div class='logos'>
<div class='logo'>
<img src='assets/fund_logos/'/>
<label i18n>לוגו ספריית יונס</label>
</div>
<div class='logo'>
<img src='assets/fund_logos/'/>
<label i18n>לוגו מפתח חיפה</label>
</div>
<div class='logo'>
<img src='assets/fund_logos/'/>
<label i18n>לוגו הספריה הלאומית</label>
</div>
</div>

  <p i18n>
המידע אודות ארגונים ופעילות בתחום המגדר הוא פרי שיתוף פעולה עם עו"ד קרן גרינבלט, קואליציית שותפות, עמותת איתך-מעכי, מיכל זאבי ושדולת הנשים בישראל
  </p>

<div class='logos'>
<div class='logo'>
<img src='assets/fund_logos/'/>
<label i18n>לוגו שותפות</label>
</div>
<div class='logo'>
<img src='assets/fund_logos/'/>
<label i18n>לוגו איתך מעכי</label>
</div>
<div class='logo'>
<img src='assets/fund_logos/'/>
<label i18n>לוגו שדולת הנשים</label>
</div>
</div>

  <p i18n>
תקנון האתר ומדיניות הפרטיות נוסחו בסיוע עו"ד ד"ר דלית קן דרור מהקליניקה למשפט,וטכנולוגיה וסייבר באוניברסיטת חיפה.
  </p>

<div class='logos'>
<div class='logo'>
<img src='assets/fund_logos/'/>
<label i18n>לוגו הקליניקה</label>
</div>
</div>

<h2 i18n>קרנות ומוסדות שתומכים במדד המגדר (בהווה ובעבר)</h2>
<div class='logos'>
<div class='logo'><img src='assets/fund_logos/funds/dafna@2x.png'/><label i18n>קרן דפנה</label></div>
<div class='logo'><img src='assets/fund_logos/about/מדע.png'/><label i18n>משרד המדע והטכנולוגיה</label></div>
<div class='logo'><img src='assets/fund_logos/funds/miami@2x.png'/><label i18n>Greater Miami Jewish Federation: Women's Amutot Initiative</label></div>
<div class='logo'><img src='assets/fund_logos/funds/chicago@2x.png'/><label i18n>Jewish Women’s Foundation of Metropolitan Chicago</label></div>
<div class='logo'><img src='assets/fund_logos/funds/bereshit@2x.png'/><label i18n>קרן פרס בראשית</label></div>
<div class='logo'><img src='assets/fund_logos/'/><label i18n>Kahn Foundation</label></div>
<div class='logo'><img src='assets/fund_logos/'/><label i18n>מתן משקיעים בקהילה</label></div>
<div class='logo'><img src='assets/fund_logos/funds/phoenix@2x.png'/><label i18n>Jewish Community Foundation of Greater Phoenix</label></div>
<div class='logo'><img src='assets/fund_logos/funds/palm beach@2x.png'/><label i18n>Jewish Women’s Foundation of the Greater Palm Beaches</label></div>
<div class='logo'><img src='assets/fund_logos/funds/TikkunOlam@2x.png'/><label i18n>Tikkun Olam: Women's Foundation of Greater Washington </label></div>
<div class='logo'><img src='assets/fund_logos/funds/atlanta@2x.png'/><label i18n>Jewish Women's Fund of Atlanta</label></div>
<div class='logo'><img src='assets/fund_logos/about/ווןליר.png'/><label i18n>מכון ון ליר בירושלים</label></div>
<div class='logo'><img src='assets/fund_logos/'/><label i18n>The Miriam Fund</label></div>
<div class='logo'><img src='assets/fund_logos/'/><label i18n>The Hadassah Foundation</label></div>
<div class='logo'><img src='assets/fund_logos/'/><label i18n>קרן פרידריך אברט בישראל</label></div>
<div class='logo'><img src='assets/fund_logos/'/><label i18n>UN WOMEN</label></div>
</div>

<h2 i18n>יודעת - מרכז ידע נשים ומגדר</h2>
<h3 i18n>צוות יודעת</h3>
<ul>
<li i18n>פרופ' חנה הרצוג</li>
<li i18n>פרופ' נעמי חזן</li>
<li i18n>הדס בן אליהו</li>
<li i18n>רונה ברייר גארב</li>
<li i18n>ענת כץ-ארוג'ס</li>
<li i18n>שבי קורזן</li>
<li i18n>אדם קריב</li>
<li i18n>הילה אורן</li>
<li i18n>דורית חיזי</li>
<li i18n>אורי הוך</li>
<li i18n>ד"ר דפנה גץ</li>
<li i18n>אורלי נתן</li>
<li i18n>סימה ציפרפל</li>
<li i18n>חבצלת שפירא</li>
<li i18n>ד"ר טלי פפרמן</li>
<li i18n>איילת רווה</li>
<li i18n>ציפי בוכניק</li>
<li i18n>ורד סגל</li>
<li i18n>תמיר גולן</li>
</ul>

<h3 i18n>ועדת ההיגוי</h3>
<ul>
<li i18n>פרופ' דפנה הקר (יו"ר)</li>
<li i18n>פרופ' שי לביא</li>
<li i18n>ד"ר סיגל רון</li>
<li i18n>פרופ' קרין נהון</li>
<li i18n>חמוטל גורי</li>
<li i18n>פרופ' צבי טריגר</li>
<li i18n>עו"ד רבקה שוורץ</li>
<li i18n>רים יונס</li>
<li i18n>שירה אוחיון</li>
<li i18n>ד"ר מראם מסארווה</li>
<li i18n>ד"ר ירון שוורץ </li>
</ul>

</app-generic-page>