<app-item-page-header [color]='"redBg"'>
  <div class='header'>
    <h1>{{_._(document, 'chart_title')}}</h1>
  </div>
</app-item-page-header>
<app-result-card-dataset class='main' [result]='document' [large]='true'></app-result-card-dataset>
<div class='item-props'>
  <div class='item-prop'>
    <label i18n>תיאור</label>
    <span>{{_._(document, 'chart_abstract')}}</span>
  </div>
  <div class='item-prop' *ngIf='document.author'>
    <label i18n>יוצרות</label>
    <span>{{_._(document, 'author')}}</span>
  </div>
  <div class='item-prop' *ngIf='document.institution'>
    <label i18n>מקור</label>
    <span>{{_._(document, 'institution')}}</span>
  </div>
  <div class='item-prop'>
    <label i18n>תגיות</label>
    <span>{{_._(document, 'tags').join(', ')}}</span>
  </div>
</div>
<app-gender-index-page-footer></app-gender-index-page-footer>