<app-item-page-header [color]='"redBg"'>
  <div class='header'>
    <h1>{{_._(document, 'chart_title')}}</h1>
  </div>
</app-item-page-header>
<app-result-card-dataset class='main' [result]='document' [large]='true'></app-result-card-dataset>
<div class='item-props'>
  <div class='item-prop'>
    <label i18n>תיאור</label>
    <span>{{_._(document, 'chart_abstract')}}</span>
  </div>
  <div class='item-prop' *ngIf='document.series && document.series[0].source_description'>
    <label i18n>מקור נתונים</label>
    <span *ngIf='!document.series[0].source_url'>{{document.series[0].source_description}}</span>
    <a *ngIf='document.series[0].source_url' [href]='document.series[0].source_url' target='_blank'>{{document.series[0].source_description}}</a>
  </div>
  <div class='item-prop'>
    <label i18n>תגיות</label>
    <span>{{_._(document, 'tags').join(', ')}}</span>
  </div>
</div>
<app-gender-index-page-browser [active]='document.gender_index_dimension'></app-gender-index-page-browser>