<app-item-page-header [color]='"redBg"'>
  <div class='header'>
    <h1>{{_._(document, 'chart_title')}}</h1>
  </div>
</app-item-page-header>
<app-result-card-dataset class='main' [result]='document' [large]='true'></app-result-card-dataset>
<div class='card-menu' appLtr>
  <a [href]='"https://api.yodaat.org/data" + _.P("/" + document.doc_id) + "-share.png"' target='_blank' i18n>הורדת תמונה</a>
  <a [href]='"https://api.yodaat.org/data/" + document.doc_id + ".xlsx"' target='_blank' i18n>קובץ נתונים</a>
  <a class='embed' (click)='embed = !embed' i18n>הטמעת התרשים</a>
  <a *ngIf='document.full_data_source' [href]='document.full_data_source' target='_blank' i18n>הנתונים המלאים</a>
  <app-share-button kind='madad'></app-share-button>
</div>
<div class='item-props'>
  <div class='item-prop' *ngIf='embed'>
    <label i18n>קוד הטמעה</label>
    <pre>{{embedCode()}}</pre>
  </div>
  <div class='item-prop'>
    <label i18n>תיאור</label>
    <span>{{_._(document, 'chart_abstract')}}</span>
  </div>
  <div class='item-prop' *ngIf='document.series && _._(document.series[0], "source_description")'>
    <label i18n>מקור נתונים</label>
    <span *ngIf='!document.series[0].source_url'>{{_._(document.series[0], 'source_description')}}</span>
    <a *ngIf='document.series[0].source_url' [href]='document.series[0].source_url' target='_blank'>{{_._(document.series[0], 'source_description')}}</a>
  </div>
</div>
<app-gender-index-page-browser [active]='document.gender_index_dimension'></app-gender-index-page-browser>