<app-generic-page>
  <h1 i18n>
    מדיניות פרטיות אתר מרכז הידע "יודעת"
  </h1>
<h2 i18n>כללי</h2>
<p i18n>מרכז הידע נשים ומגדר "יודעת" (להלן: "מרכז הידע" או "מרכז הידע 'יודעת'") הינו מרכז ידע אינטרנטי להנגשה של ידע בנושאי מגדר ופמיניזם, המעמיד לרשות הציבור תכנים ומקורות מידע מגוונים בנושאים אלה, ללא תשלום ובכפוף לתנאי תקנון זה. </p>
<p i18n>מדיניות הפרטיות מהווה חלק בלתי נפרד מתנאי השימוש באתר האינטרנט של מרכז הידע (להלן: "אתר יודעת" או "אתר") והשימוש באתר, לרבות בתכנים הכלולים בו ובשירותים השונים בו, מעיד על הסכמתך לתנאי השימוש באתר ולכל תנאי אחר המופיע בו, לרבות מדיניות הפרטיות באתר. תנאים אלה תקפים לשימוש באתר ולשירותים השונים הכלולים בו בין אם באמצעות מחשב, טלפון נייד או בכל דרך אחרת. </p>
<p i18n>מדיניות פרטיות זו אינה מתייחסת לאתרים של צדדים שלישיים. ככל שאתר האינטרנט של מרכז הידע "יודעת" יכלול קישור לאתר של צד ג', אין בכך משום תמיכה באתר המקושר, אחריות כלשהי בגין התכנים המופיעים באתר המקושר או תמיכה במדיניות הפרטיות של אותו אתר. </p>
<p i18n>על אף האמור לעיל, מרכז הידע "יודעת" ומי מטעמו שומרים על זכותם לשנות את התנאים מעת לעת ועל המשתמשות באתר לבחון תנאים אלה ולהתעדכן בשינויים. </p>
<p i18n>בכל מקום בו התקנון נוסח בלשון אישה מטעמי קיצור, הנאמר בו חל אף על גברים. </p>

<h2 i18n>הגדרות</h2>
<p i18n>"מידע אישי" - מידע שמאפשר את זיהויו של האדם אשר אליו הוא מתייחס. </p>
<h2 i18n>איסוף מידע ומסירת פרטים </h2>
<p i18n> ככלל, השימוש באתר מרכז הידע "יודעת" אינו דורש רישום ו/או מסירת פרטים ו/או מידע אישי. </p>
<p i18n>במהלך השימוש באתר מרכז הידע "יודעת", ייתכן שיצטבר בידי מרכז הידע "יודעת" מידע סטטיסטי באשר לעמודים בהם צפית, שירותים בהם השתמשת או בחנת, מקום המחשב ממנו את גולשת באתר וכתובת האינטרנט של המחשב, סוג מערכת ההפעלה בה את עושה שימוש, סוג מכשיר הקצה בו את עושה שימוש, משך הזמן בו צפית בעמוד וכדומה. יחד עם זאת, אין מדובר בשום אופן במידע אשר עשוי להוביל, במישרין או בעקיפין, לזיהוי של אדם מסוים.</p>
<p i18n>שירותים אחדים באתר יודעת טעונים הרשמה ועשויים להיות כרוכים בהתחברות באמצעות רשתות חברתיות ו/או מסירת פרטי קשר ומידע אשר עלולים לזהות אותך באופן אישי,כגון, שם מלא, כתובת, טלפון, כתובת דואר אלקטרוני ופרטים נוספים על פי הצורך. אינך חייבת על פי חוק למסור את הפרטים הללו. אולם, מסירת פרטים שגויים, או אי מסירת מלוא הפרטים הנדרשים עלולים למנוע ממך את האפשרות להשתמש בשירותים באתר, או שהשימוש יהיה חסר, פחות איכותי, פחות יעיל וכיו"ב.   בעת שאת מוסרת את הפרטים הנדרשים, את מצהירה כי מסרת פרטים נכונים, מדויקים ומלאים, מתוך רצון חופשי ובהסכמה מלאה וכי את יודעת כי אין חובה על פי חוק למסור אותם. </p>
<p i18n>בנוסף לכך, בעת פניות יזומות לאתר מרכז הידע "יודעת", מרכז הידע "יודעת" עשוי לאסוף מידע נוסף, ובעצם הפניה את מצהירה כי הסכמת למסור מידע זה למרכז הידע "יודעת".</p>
<p i18n>הפרטים והמידע האישי שמסרת וכן פרטים אחרים אודות השימוש באתר (כמפורט להלן) יישמרו במאגרי המידע של מרכז הידע "יודעת" ויעשו בהם שימוש כמפורט במדיניות פרטיות זו.   </p>
<p i18n>אם את מוסרת מידע אישי או פרטים על צד שלישי (למשל, בעת הפקדת תוכן שיצר צד שלישי), את מצהירה בזאת כי את רשאית לעשות כן, לאור קבלת הסכמתו המפורשת של הצד השלישי למסירת המידע לאתר מרכז הידע "יודעת", בכפוף לתנאי השימוש של אתר "יודעת" ולמדיניות הפרטיות בו. </p>
 
<h2 i18n>שימוש במידע על ידי אתר מרכז הידע "יודעת"</h2>
<p i18n>בפרטים ובמידע האישי אותו מסרת או שמרכז הידע "יודעת" יאסוף במהלך השימוש באתר "יודעת" כאמור, ייעשה שימוש בהתאם להוראות מדיניות הפרטיות הזו או על פי הוראות כל דין למטרות המפורטות להלן:</p>
<p i18n>משלוח עדכונים באמצעות כתב עת אלקטרוני ("ניוזלטר") שמפיק מרכז הידע "יודעת";</p>
<p i18n>משלוח "קול קורא" להשתתפות בפעילויות שונות של מרכז הידע "יודעת".</p>
<p i18n>משלוח עדכונים על פרסומים חדשים אשר כוללים לעתים גם קישור לעמוד אינטרנט דרכו ניתן לראות פרסומים אלה;</p>
<p i18n>משלוח הצעות להשתתף בפרויקטים חדשים;</p>
<p i18n>הזמנה להעביר תרומות למרכז הידע "יודעת";</p>
<p i18n>הזמנה להשתתף באירועים שמארגן מרכז הידע "יודעת";</p>
<p i18n>ניהול של מסעות יחסי ציבור (לא לצרכים מסחריים) באמצעות הרשתות החברתיות.</p>
<p i18n>לאפשר שימוש באתר ותפקוד תקין שלו, בתכנים בו ובשירותים שהאתר מציע. </p>
<p i18n>לייעל את הכניסה החוזרת שלך לאזורים המוגבלים וכדי לאפשר לך שלא להזין את הפרטים בכל כניסה חוזרת, תוך התאמה אפשרית להעדפותיך. </p>
<p i18n>לפיתוח האתר, לשיפורם של תנאי השימוש באתר ושיפור התכנים בו, לרבות שדרוג ושינוי שירותים, התאמת שירותים והעשרת תכנים.</p>
<p i18n>ליצירת קשר איתך אם יש צורך בכך, על פי שיקול דעתו של צוות מרכז הידע "יודעת".</p>
<p i18n>למלא את תנאי השימוש של אתר מרכז הידע "יודעת" ואת מדיניות הפרטיות שלו וכן על מנת למלא אחר דרישות כל חיקוק אחר וכן על מנת לסייע לרשויות המוסמכות ולכל צד שלישי כשצוות אתר מרכז הידע "יודעת" סבור בתום לב שיש לעשות כן. </p>

<h2 i18n>מסירת מידע לצדדים שלישיים</h2>
<p i18n>מרכז הידע "יודעת" לא יעביר לצדדים שלישיים את הפרטים והמידע האישי שמסרת או שנאסף עליך תוך כדי השימוש באתר "יודעת", אלא: </p>
<p i18n>על פי בקשתך המפורשת;</p>
<p i18n>אם הדבר דרוש לצורך אספקה תקינה של שירותי האתר; </p>
<p i18n>אם תפרי את הוראות השימוש באתר או את מדיניות הפרטיות או תעשי שימוש באתר או באמצעותו על מנת להפר כל חיקוק או שתנסי לעשות כן; </p>
<p i18n>אם יתקבל צו שיפוטי בידי מרכז הידע "יודעת" או כל דרישה כדין של רשות מוסמכת, המורה לו למסור את פרטיך או את המידע אודותיך לצד שלישי; </p>
<p i18n>בכל מחלוקת משפטית, טענה, דרישה וכדומה, בינך לבין מרכז הידע "יודעת" או מי מטעמו;</p>
<p i18n>בכל מקרה בו מרכז הידע "יודעת" סבור כי יש למסור את המידע על מנת למנוע נזק חמור גופני או כלכלי לך או לאחרים;</p>
<p i18n>מרכז הידע "יודעת" יהיה רשאי להעביר על פי שיקול דעתו הבלעדי נתונים סטטיסטיים, מידע אנונימי ואחר שאין בו, ככל הידוע למרכז הידע "יודעת", כדי לזהות אותך ללא הסכמתך;</p>
<p i18n>מרכז הידע "יודעת" יהיה רשאי להעביר את המידע לגופים הפועלים מטעמו שיעשו במידע שימוש בכפוף להוראות מדיניות פרטיות זו. כך גם רשאי מרכז הידע "יודעת" להעביר את הפרטים והמידע האישי כאמור לכל גוף שייכנס בנעליו ובלבד שהשימוש בהם יהיה בכפוף להוראות מדינות פרטיות זו.</p>

<h2 i18n>שימוש במידע - רשתות חברתיות ושירותים נוספים של צד שלישי</h2>
<p i18n>מרכז הידע "יודעת" מאפשר רישום דרך רשתות חברתיות וכן מעמיד כלים לשיתוף ולקישור תכנים מהאתר באמצעות רשתות חברתיות ו/או שירותים נוספים של צד שלישי. יובהר להלן, השימוש ברשתות חברתיות וכן בכל שירות אחר של צד שלישי, הינו חיצוני ונפרד מהאתר של מרכז הידע "יודעת" וכפוף לתנאי השימוש ולמדיניות הפרטיות הרלוונטיים. מרכז הידע "יודעת" אינו אחראי לכל פעילות של אותן רשתות חברתיות ו/או נותני השירותים הנוספים.  </p>
<p i18n>הכניסה לאתר מרכז הידע "יודעת" באמצעות רשת חברתית ו/או כל שירות אחר של צד שלישי, עשויה למסור לאתר מרכז הידע "יודעת" פרטים אישיים ומידע אישי. בעת הכניסה לאתר דרך הרשת החברתית ו/או כל שירות אחר את מסכימה למסירת פרטים אלה. </p>

<h2 i18n>שימוש בעוגיות (Cookies)</h2>
<p i18n> מרכז הידע "יודעת" עשוי לעשות שימוש באתר "יודעת" בעוגיות לצורך תפעולו התקין והשוטף של האתר. כך גם, מרכז הידע "יודעת" רשאי להיעזר בעוגיות שמקורן בצדדים שלישיים, בין היתר, לצרכים של ניתוחים סטטיסטיים, שימוש בשירותים של צדדים שלישיים ועוד.  </p>
<p i18n>תוכלי להימנע משימוש בעוגיות, על ידי שינוי ההגדרות בדפדפן שלך. כך גם, ניתן למחוק את העוגיות במחשבך. עם זאת, נטרול העוגיות עלול לגרום לכך שלא תוכלי לעשות שימוש בחלק מהשירותים או התכונות באתר "יודעת" או באתרים אחרים.</p>

<h2 i18n>אופן שמירת המידע האישי, מיקומו, זכות העיון במידע ו"הזכות להישכח"</h2>
<p i18n>כל אישה תהא זכאית לעיין בעצמה או על ידי בא כוחה שהרשתהו בכתב או על ידי אפוטרופוס במידע עליה המחוזק במאגר מידע של מרכז הידע "יודעת". הפונה רשאית לבקש את תיקון המידע או את מחיקתו. סירוב למחיקת או שינוי המידע יובא לידיעת הפונה. על החלטה זו ניתן לערער בהתאם לקבוע בחיקוקים. </p>
<p i18n>משתמשות אשר תהינה מעוניינות כי המידע האישי שנצבר אודותיהן במאגר המידע של מרכז הידע "יודעת" יימחק, מתבקשות לשלוח בקשה בכתב, באמצעות דואר אלקטרוני, לכתובת הבאה: privacy@yodaat.org. הבקשות תיבחנה ותעננה תוך פרק זמן סביר.</p>
<p i18n>יש לשים לב כי אם המידע המבוקש נמחק, עלול הדבר למנוע ממך את קבלת השירותים באתר או שהשימוש יהיה חסר, פחות איכותי, פחות יעיל וכיו"ב. </p>
<p i18n>למעט אם הוגשה בקשה כאמור, מרכז הידע "יודעת" ישמור את המידע האישי שנאגר במאגר המידע שלו במשך הזמן הדרוש על מנת לספק את השירותים המפורטים במדיניות פרטיות זו.</p>
<p i18n>בכל מקרה, מרכז הידע "יודעת" ישמור מידע אישי, כאמור, אם וככל שהדבר יידרש על פי דין או במקרים בהם המידע עשוי לשמש ראיה בהליך משפטי (קיים או עתידי).</p>
<p i18n>המידע שמרכז הידע "יודעת" אוסף נשמר במאגר הידע שלו, המאוחסן אצל ספקי שירותים של אירוח שרתים וגיבוי מידע, אשר חלקם או כולם יכולים להימצא אף מחוץ לגבולות ישראל. כך גם הדבר לגבי המידע שניתן להעביר לפי מדיניות פרטיות זו לאחר. השימוש באתר ומסירת פרטים באתר מהווים הסכמה גם לשמירת מידע בחו"ל ולהעברתו של המידע אל מחוץ לגבולות ישראל. </p>

<h2 i18n>אמצעי הגנה על מידע אישי שנשמר במאגרי המידע</h2>
<p i18n>מרכז הידע "יודעת" מתייחס ברצינות רבה לחובתו לשמור על פרטיותם של משתמשים המוסרים לידיו מידע אישי, באמצעות אתר/י האינטרנט שהוא מפעיל או בכל דרך אחרת (כמו למשל: הרשמה לרשימות תפוצה). מרכז הידע "יודעת" משתמש באמצעים טכנולוגיים העונים לסטנדרטים סבירים ומקובלים, על מנת לוודא שמידע אישי אשר נמסר לו בפורמט דיגיטלי, יזכה להגנה הראויה מפני שימוש בלתי ראוי ובלתי מורשה. מרכז הידע "יודעת" פועל, באופן רציף, על מנת להתאים את עצמו לרגולציה העדכנית ביותר, בכל הנוגע להגנה על מידע אישי. עם זאת, יש להבין כי עלולים להיווצר מקרים, על אף כל ההגנות, בהם עלול להיחשף מידע אישי או ייגנב מידע. לא ניתן לצפות לכך שהמערכות תהינה חסינות לחלוטין מפני גישה לא מורשית. בעצם השימוש באתר את מסכימה לסיכון זה. </p>

<h2 i18n>דיווח על פגיעה אפשרית בפרטיות </h2>
<p i18n>אם את חושבת כי פרטיותך נפגעה בעת השימוש באתר, אנא פני למרכז הידע </p>
<p i18n>יודעת" באמצעות כתובת הדואר האלקטרוני privacy@yodaat.org. צוות אתר מרכז הידע "יודעת" עומד לרשותך לכל פניה, שאלה או בקשה.  הפניות תיבחנה ותעננה תוך פרק זמן סביר.</p>
<h2 i18n>שינויים במדיניות הפרטיות </h2>
<p i18n>צוות מרכז הידע "יודעת" יהיה רשאי לשנות מעת לעת את תנאי השימוש באתר ו/או מדינות הפרטיות. אם יבוצעו שינויים מהותיים תופיע על כך הודעה בעמוד הבית של אתר "יודעת" 7 ימים לפני כניסת השינוי לתוקף. עם זאת, אם התיקון מחויב על פי דין - ישונה לאלתר ותינתן הודעה על כך באתר הבית של אתר "יודעת". אם המשתמשת לא מסכימה לשינוי, היא רשאית לחדול מלעשות שימוש באתר, רשאית לבקש את מחיקת המידע האישי, אם קיים, ממאגר מרכז הידע "יודעת". צוות מרכז הידע "יודעת" יסיר את המשתמשת תוך פרק זמן סביר מרגע הגשת בקשתה. </p>

<p i18n>* הנוסח בעברית של מדיניות הפרטיות הוא הנוסח התקף מבחינה משפטית, אם יש אי התאמה או סתירה בין הנוסחים (עברית/ערבית/אנגלית).</p>

</app-generic-page>
