<div class='container'>
  <h1>סטטיסטיקה מגדרית</h1>
  <h2>
  כאן ניתן למצוא נתונים השוואתיים אודות מצבם של נשים וגברים בתחומי חיים שונים.
  <br/>
  נתונים אלו יכולים לסייע לקידום יוזמות, מדיניות, אקטיביזם, הוראה ומחקר בתחום השוויון המגדרי
  </h2>
</div>
<div [class]='"carousel-card phase-" + ((phase + 1) % 4)'>
  <h3>אי שוויון במספרים</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 2) % 4)'>
  <h3>אי שוויון במספרים 2</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 3) % 4)'>
  <h3>3 אי שוויון במספרים</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 4) % 4)'>
  <h3>אי שוויון במספרים 4</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
