<div class='container'>
  <h1 i18n>סטטיסטיקה מגדרית</h1>
  <h2 i18n>
  כאן ניתן למצוא נתונים השוואתיים אודות מצבם של נשים וגברים בתחומי חיים שונים.
  <br/>
  נתונים אלו יכולים לסייע לקידום יוזמות, מדיניות, אקטיביזם, הוראה ומחקר בתחום השוויון המגדרי
  </h2>
</div>
<ng-container *ngFor='let slide of slides | async; let i = index'>
  <div [class]='"carousel-card phase-" + ((phase + i) % 4)'>
    <h3>{{slide.chart_title}}</h3>
    <app-dataset-chart [series]='slide.series' [large]='true'></app-dataset-chart>
  </div>
</ng-container>
