<app-info-page>
  <h1 i18n>האם הצטמצם אי השוויון במשך השנים?</h1>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
</app-info-page>