<app-info-page>
  <h1 i18n>אי שוויון לאורך זמן?</h1>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. 
  טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
</app-info-page>