<app-info-page>
  <h1 i18n>אי שוויון לאורך זמן?</h1>
  <p i18n>
  כיצד משתנה רמת האי שוויון בין נשים לגברים לאורך השנים? האם האי שוויון מצטמצם באופן עקבי? מדד המגדר בוחן שינויים ברמת האי שוויון המגדרי בישראל לאורך השנים. התרשים מתאר את השינוי ברמת האי-שוויון המגדרי בישראל משנת 2004 ואילך. כל נקודה בתרשים מייצגת שקלול של כלל האינדיקטורים המרכיבים את מדד המגדר והמשמשים לבחינת התפתחות האי-שוויון המגדרי בכל שנה בהשוואה לשנה הקודמת. 2004 היא שנת הבסיס לחישוב השינוי (שנת ה"אפס").  מבחינה גרפית, עליה מצביעה על גידול באי-שוויון בין נשים לגברים וירידה מצביעה על צמצום אי השוויון.
  </p>
  <img src='assets/gender_index_graphs/methodology/רמת אי-שיוויון@2x.png'/>
  <p i18n>
ראוי לציין שבאינדיקטורים שאינם משקפים יחס בין מצב הנשים למצב הגברים, למשל מספר תלונות על מקרי אלימות במשפחה, ככל שהמספר גדל ביחס לאוכלוסייה כן גדל האי-שוויון ועולה המדד. מסיבות מתודולוגיות, הממדים של תרבות ותקשורת, החברה הערבית, החברה החרדית, והפריפריה אינם נכללים בחישוב המצרפי של רמת האי-שוויון המגדרי.
  </p>
  <p i18n>
בתרשים אפשר להבחין בשלוש תקופות עיקריות שבהן השתנתה מגמת האי-שוויון המגדרי בשנים שנבדקו: בתקופה הראשונה, בין 2004 ל-2007, ניכר גידול באי-שוויון המגדרי (למעט שנת 2006); ובתקופה השנייה, מ-2008 עד 2013, מסתמנת מגמת ירידה באי-שוויון המגדרי (למעט שנת 2010). בתקופה השלישית, החל משנת 2013, רמת האי שוויון נותרת ללא שינוי. 
  </p>
  <p i18n>
בבחינת כלל הממדים והאינדיקטורים משנת 2004 עולה כי באף אחד מהם לא חל צמצום עקבי באי-שוויון בתקופת המדידה, כלומר מגמת השיפור אינה עקבית ובת קיימא. עם זאת, בהתבוננות כוללת על האי-שוויון היום לעומת האי-שוויון בשנת המדידה הראשונה ניכר שיפור מסוים בהיקף כללי של כ-12%. 
  </p>

</app-info-page>