<div class='container' #container [class.active]='active' appLtr>
  <img class='icon' src='assets/search-ic.svg' (click)='active = true' alt='חיפוש באתר' i18n-alt/>
  <div class='fb'>
    <a class='icon' href='https://facebook.com/yodaat1/' target='_blank'>
      <img src='assets/share-by-fb-ic.svg' alt='עמוד הפייסבוק שלנו' i18n-alt/>
    </a>
    <span i18n>הצטרפו אלינו</span>
  </div>
  <app-search-bar
      #searchBar
      (changed)='search($event)'
      [term]='term'
      [color]='"rgba(67, 38, 58)"'
      [backgroundColor]='"rgba(67, 38, 58, 0.2)"'
      [icon]='"search-ic"'
      [instant]='false'
  ></app-search-bar>
</div>