@import '../../common.less';

h1 {
    font-family: @secondaryFont;
    color: @primaryOrange;
    font-size: 17px;
    // letter-spacing: 0.5px;
    font-weight: bold;
    margin: 5px 0 10px 0;
    line-height: 22px;
}

p, div, span {
    font-size: 16px;
    word-break: break-word;
}

.tagline {
    margin-bottom: 40px;
}
.details {
    display: flex;
    flex-flow: row;

    div {
        display: flex;
        flex-flow: column;

        img { 
            width: 130px;
            align-self: center;
            margin: 10px;
        }

        p {
            margin: 5px 0;
        }
    }

    div:first-child {
        flex: 0 1 auto;
        margin-left: 20px;
        max-width: 40%;
    }

    div:last-child {
        flex: 1 0 60%;
    }
}

p, div {
    // font-size: 14px;
    word-break: break-word;
}

p {
    text-align: justify;
}


.tags {
    margin: 10px 0;
    a {
        text-decoration: none;
        display: inline-block;
        padding: 2px 10px;
        margin: 3px 5px;
        background-color: #eee;
        border-radius: 20px;
        background-color: #785d7040;
        transition: background-color 200ms;
        cursor: pointer;
    }
}
