:host {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 0 10px;

    ::ng-deep {
        #st-1 {
            z-index: 1;
        }
    }
}

// img {
//     width: 54px;
//     cursor: pointer;
//     margin-left: 20px;

//     &.ltr {
//         margin-left: 0;
//         margin-right: 20px;
//     }
// }