<app-item-page-header [color]='"orangeBg"'>
  <div class='header'>
    <h1>{{_._(document, 'org_name')}}</h1>
    <div class='infoline' *ngIf='document.tagline'>
      <span>{{_._(document, 'tagline')}}</span>
    </div>
  </div>
</app-item-page-header>
<div class='org-card'>
  <div class='org-contact'>
    <img class='logo' [src]='logo()' onerror='this.style.display="none"'/>
    <a [href]='website()' class='org-website' *ngIf='document.org_website' target='_blank' i18n>
    לאתר הארגון
    </a>
    <a [href]='document.org_facebook' class='org-website' *ngIf='document.org_facebook' target='_blank' i18n>
    לעמוד הפייסבוק של הארגון
    </a>
    <a [href]='"mailto:" + document.org_email_address'
       *ngIf='document.org_email_address' class='ltr'>
      {{document.org_email_address}}
    </a>    
    <span *ngIf='document.hotline_phone_number'>
      {{document.hotline_phone_number}}
    </span>    
    <span *ngIf='document.org_phone_number'>
      {{document.org_phone_number}}
    </span>    
    <span *ngIf='document.org_address'>
      {{document.org_address}}
    </span>    
    <!-- <span class='circles'>
      <a *ngIf='document.org_facebook' class='org-facebook' [href]='document.org_facebook' target='_blank'></a>
    </span> -->
    <span class='budgetkey' *ngIf='document.doc_id.indexOf("org/58") === 0'>
      <a [href]='"https://next.obudget.org/i/org/association/" + document.doc_id.slice(4)' target='_blank'>מידע נוסף על הארגון ב״מפתח התקציב״</a>
    </span>
    <app-share-button kind='orgs'></app-share-button>
  </div>
  <div class='org-info'>
    <span class='org-abstract' [innerHtml]="_._(document, 'objective')"></span>
    <div class='org-prop' *ngIf='document.specialties && document.specialties.length'>
      <label i18n>תחומי פעילות עיקריים</label>
      <span>{{_._(document, 'specialties').join(', ')}}</span>
    </div>
    <div class='org-prop' *ngIf='document.provided_services && document.provided_services.length'>
      <label i18n>סוגי שירותים</label>
      <span>{{_._(document, 'provided_services').join(', ')}}</span>
    </div>
    <div class='org-prop' *ngIf='document.languages && document.languages.length'>
      <label i18n>שפות</label>
      <span>{{_._(document, 'languages').join(', ')}}</span>
    </div>
    <div class='org-prop' *ngIf='document.regions && document.regions.length'>
      <label i18n>אזור גיאוגרפי</label>
      <span>{{_._(document, 'regions').join(', ')}}</span>
    </div>
    <div class='org-prop' *ngIf='document.org_kind'>
      <label i18n>סוג הארגון</label>
      <span>{{_._(document, 'org_kind')}}</span>
    </div>
    <div class='org-prop' *ngIf='document.life_areas && document.life_areas.length'>
      <label i18n>תחומי חיים</label>
      <span>{{_._(document, 'life_areas').join(', ')}}</span>
    </div>
    <div class='org-prop tags' *ngIf='document.tags && document.tags.length'>
      <label i18n>תגיות</label>
      <span *ngFor="let tag of _.tags(document)"
            [routerLink]='"/search"' [queryParams]='{"tag": tag.src, "itag": tag.dst, "kind": "all", "filters": "{}", "sortOrder": "-year"}'
      ><a>{{tag.dst}}</a></span>
    </div>
  </div>
</div>
<app-item-page-search-results [manager]='search'>
<h1 i18n>אולי יעניין אותך גם&hellip;</h1>
</app-item-page-search-results>