@import '../../common.less';

:host {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 80px 0;
    animation: 2s 1 fadein;
    z-index: -1;

    .title {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 50px;
        width: 50%;

        .top {
            display: flex;
            flex-flow: row;
            align-items: flex-start;
            justify-content: flex-start;

            .logo {
                height: 180px;
                width: 180px;

                flex: 0 0 auto;
                margin-left: -30px;

                img {
                    animation: 1s 1 slidein;
                    animation-fill-mode: forwards;
                    animation-delay: 1s;
                    width: 100%;
                    margin-right: -300px;
                    opacity: 0;
                }
            }

            .text {

                padding-top: 25px;

                h1 {
                    font-size: 55px;
                    font-family: @secondaryFont;
                    font-weight: 700;
                    margin: 15px 0;
                    line-height: 50px;
                    letter-spacing: 1.5px;
                }

                h2 {
                    font-size: 16px;
                    font-family: @secondaryFont;
                    font-weight: normal;
                    margin: 0;
                }
            }
        }

        .bottom {

        }
    }

    .slide {
        flex: 0 1 auto;
        
        img {
            width: 100%;
        }
    }
}

@keyframes slidein {
    from {
        margin-right: -300px;
        opacity: 0;
    }

    to {
        margin-right: 0px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}