<div class='title'>
  <div class='top'>
    <div class='logo'>
      <img [src]="logo"/>
    </div>
    <div class='text'>
      <h1 [ngClass]="colors + 'Text'">
        <ng-content select='span.title'></ng-content>
      </h1>
      <h2>
        <ng-content select='span.description'></ng-content>
      </h2>  
      <div class='bottom'>
        <ng-content select='app-search-bar'></ng-content>
      </div>
    </div>
  </div>
</div>
<div class='slide'>
  <ng-container *ngFor='let slide of slide | async'>
    <app-result-card [result]='slide'></app-result-card>
  </ng-container>
</div>