<input type='text' (focus)='focus=true' (blur)='focus=false'
                   (change)='onChanged($event, false)' (keyup)='onChanged($event, false)'
                   [value]='term'
                   [style.color]='color' [style.background-color]='backgroundColor'
                   [style.background-image]='"url(\"assets/" + icon + ".svg\")"'
                   appLtr
/>
<span [innerHtml]='placeholder' [class.focus]='focus || !!term'
      [style.color]='color' class='placeholder'
      appLtr
></span>
