<div class='cards'>
    <div class='topics'>
        <h1 i18n #datasetsSection>סדרות נתונים של מדד המגדר</h1>
        <div class='topic' *ngFor='let dimension of dimensions; let index = index' 
            [class.active]='dimension === active_dimension'
            [class.open]='dimension === active_dimension && open'
        >
            <div class='topic-header' (click)='selectDimension(dimension)'>
                <div class='topic-icon'>
                    <img [src]='"assets/gender_index_30x30/Red/" + icons[index] + "-ic.svg"'/>
                </div>
                <span class='header'>{{dimension}}</span>
            </div>
            <div class='topic-charts'>
                <div class='chart-title' *ngFor='let chart of datasets[dimension]'>
                    <a (click)='scrollToChart(chart.doc_id)'>{{_._(chart, 'chart_title')}}</a>
                </div>
            </div>
        </div>
        <h3><a href='assets/recommendations.pdf' target='_blank' i18n>עיקרי ממצאים והמלצות</a></h3>
    </div>
    <div class='charts'>
        <ng-container *ngFor='let chart of this.datasets[this.active_dimension]'>
            <div class='chart'
                 [id]='chart.doc_id'
            >
                <app-result-card 
                    [result]='chart'
                    [queryParams]='"?section=" + active_dimension'
                ></app-result-card>
            </div>
        </ng-container>
    </div>
</div>