@import '../../common.less';

:host {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 80px;    

    .title {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        justify-items: flex-start;
        margin-top: 60px;
        margin-bottom: 60px;

        .right-hand {
            color: @primaryPurple;
            font-family: @secondaryFont;
            font-weight: normal;
            max-width: 630px;
            width: 50%;

            img {
                height: 150px;
            }
            h1 {
                letter-spacing: 1px;
                font-size: 36px;
                font-weight: normal;
                margin-top: 20px;
            }
            h2 {
                letter-spacing: 1.2px;
                font-size: 22px;
                margin-bottom: 38px;
            }
        }
    }

    .spinner-widget {
        position: absolute;
        top: calc(@headerHeight + @headerHeight);
        width: 345px;
        margin-right: 337px;
        height: 345px;
        z-index: -1;
    }

    .square-links {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        margin: 60px 0;
        width: 100%;

        .square-link {
            margin: 0 10px;
            color: white;
            flex: 1 1 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: flex-end;
            padding: 30px 40px;
            text-align: center;
            border-radius: 20px;
            cursor: pointer;

            img {
                height: 50px;
            }

            h1 {
                font-family: @secondaryFont;
                font-weight: bold;
                font-size: 24px;
                line-height: 1.1em;
                margin: 20px 0;
                letter-spacing: 1px;
            }

            h2 {
                font-weight: normal;
                font-size: 16px;
                margin: 0;
            }

            &:nth-child(1) { 
                background-color: @primaryPurple; 
                margin-right: 0;
            }
            &:nth-child(2) { background-color: @primaryGreen; }
            &:nth-child(3) { background-color: @primaryOrange; }
            &:nth-child(4) { 
                background-color: @primaryRed; 
                margin-left: 0;
            }
        }
    }

    .recently-added {
        display: flex;
        flex-flow: column;
        align-items: center;
        background-color: rgba(0,0,0,0.05);
        padding: 10px 0;
        width: 100vw;

        h1, h2 {
            font-family: @secondaryFont;
            color: @primaryPurple;
            letter-spacing: 1px;
            margin: 15px 0;
        }

        h1 {
            font-size: 24px;
            font-weight: bold;
        }

        h2 {
            font-size: 18px;
            font-weight: normal;
        }

        .cards {
            display: flex;

            flex-flow: row;
            width: 100%;
            max-width: @containerWidth;
            
            > * {
                margin: 10px;
                flex: 1 1 50%;
            }    
        }
    }

    .need-help {
        background-image: url('../../assets/lp-bg.svg');
        background-size: cover;
        padding: 40px 80px;
        margin: 0 0 40px 0;
        width: 100vw;
        display: flex;
        flex-flow: column;
        align-items: center;  
        justify-content: center;
        
        .need-help-main {
            background-color: white;
            padding: 40px 100px;
            margin: 40px 0;
            display: flex;
            flex-flow: column;
            align-items: center;
            border-radius: 0 0 10px 10px;

            .logo {
                width: 100px;
                margin-bottom: 20px;        
            }

            span {
                font-size: 24px;
                font-family: @secondaryFont;
                color: @primaryPurple;
            }

            .buttons {
                margin-top: 20px;
                display: flex;
                flex-flow: row;
                justify-content: center;
                align-items: center;

                div {
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 40px;
                    width: 170px;
                    border: 1px solid @primaryPurple;
                    border-radius: 20px;
                    margin: 20px 10px;
                    color: @primaryPurple;
                    background-color: white;

                    span {
                        font-size: 16px;
                        font-family: @primaryFont;
                    }

                    &:first-child {
                        span {
                            color: white;
                        }
                        background-color: @primaryPurple;
                    }

                    img {
                        height: 20px;
                    }
                }
            }
        }
    }
}