@import '../../common.less';

:host {
    background-color: white;
    display: flex;
    flex-flow: column;

    .image {
        flex: 1 0 ~'calc(max(33vw, 480px))';
        a {
            img {
                width: 100%;
                min-height: 70%;
            }
        }            
    }
    
    .tags {
        margin: 10px 20px;
        a {
            text-decoration: none;
            display: inline-block;
            padding: 2px 10px;
            margin: 3px 5px;
            border-radius: 20px;
            .tagsMixin;
            cursor: pointer;
        }
    }
    
    @media only screen and (max-width: 700px)  {
        .tags {
            display: none;
        }
    }
}

