<app-item-page-header [color]='"greenBg"'>
  <div class='header'>
    <h1>{{document.chart_title}}</h1>
  </div>
</app-item-page-header>
<app-result-card-dataset class='main' [result]='document' [large]='true'></app-result-card-dataset>
<div class='item-props'>
  <div class='item-prop'>
    <label i18n>תיאור</label>
    <span>{{document.chart_abstract}}</span>
  </div>
  <div class='item-prop' *ngIf='document.author'>
    <label i18n>מקור</label>
    <span>{{document.author}}</span>
  </div>
  <div class='item-prop' *ngIf='data_sources'>
    <label i18n>מקורות נתונים</label>
    <ul>
      <li *ngFor='let source of data_sources'>
        {{source.series}}&nbsp;-&nbsp;
        <span *ngIf='!source.link'>{{source.title}}</span>
        <a *ngIf='source.link' [href]='source.link'>{{source.title}}</a>
      </li>
    </ul>
  </div>
  <div class='item-prop'>
    <label i18n>תגיות</label>
    <span>{{document.tags.join(', ')}}</span>
  </div>
</div>
<app-item-page-search-results [manager]='search'>
<h1 i18n>אולי יעניין אותך גם&hellip;</h1>
</app-item-page-search-results>