<app-item-page-header [color]='"greenBg"'>
  <div class='header'>
    <h1>{{_._(document, 'chart_title')}}</h1>
  </div>
</app-item-page-header>
<app-result-card-dataset class='main' [result]='document' [large]='true'></app-result-card-dataset>
<div class='item-props'>
  <div class='item-prop'>
    <label i18n>תיאור</label>
    <span>{{_._(document, 'chart_abstract')}}</span>
  </div>
  <div class='item-prop' *ngIf='data_sources && data_sources[0]'>
    <label i18n>מקור נתונים</label>
    <span *ngIf='!data_sources[0].link'>{{data_sources[0].title}}</span>
    <a *ngIf='data_sources[0].link' [href]='data_sources[0].link'>{{data_sources[0].title}}</a>
  </div>
  <div class='item-prop'>
    <label i18n>תגיות</label>
    <span>{{_._(document, 'tags').join(', ')}}</span>
  </div>
</div>
<app-item-page-search-results [manager]='search'>
<h1 i18n>אולי יעניין אותך גם&hellip;</h1>
</app-item-page-search-results>