<div class='lang' [class.selected]='selected' (click)='toggle($event)'>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.42 13.81">
    <defs>
      <style>
        .cls-1{fill:none;stroke-miterlimit:10;stroke-width:2px;}
      </style>
    </defs>
    <line class="cls-1" y1="1" x2="16.42" y2="1"/>
    <line class="cls-1" y1="6.91" x2="16.42" y2="6.91"/>
    <line class="cls-1" y1="12.81" x2="16.42" y2="12.81"/>
  </svg>
</div>

<app-common-overlay *ngIf='selected'>
  <img src='assets/footer-logo.svg' height='110px'/>
  <h2 i18n [routerLink]='"/publications"'>מאגר המידע הכללי</h2>
  <h2 i18n [routerLink]='"/stas"'>סטטיסטיקה מגדרית</h2>
  <h2 i18n [routerLink]='"/organisations"'>ארגונים ופעילות בתחום המגדר</h2>
  <h2 i18n [routerLink]='"/gender-index"'>מדד המגדר</h2>
  <h2 i18n [routerLink]='"/about"'>אודות</h2>
  <h2 i18n [routerLink]='"/contact-us"'>צרו קשר</h2>
  <h2 i18n [routerLink]='"/eula"'>תקנון האתר</h2>
  <h2 i18n [routerLink]='"/privacy"'>מדיניות פרטיות</h2>
</app-common-overlay>