@import '../../common.less';

:host {

    .lang {
        width: @circleButtonSize;
        height: @circleButtonSize;
        border-radius: @circleButtonSize;
        color: @primaryPurple;
        background-color: @backgroundWhite;
        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        svg {
            flex: 0 1 auto;
            width: 16px;

            line {
                stroke: @primaryPurple;
            }
        }

        span {
            flex: 0 0 auto;
            font-size: @circleButtonTextSize;
        }
        &.selected {
            background-color: @primaryPurple;
            color: @backgroundWhite;

            svg {
                line {
                    stroke: @backgroundWhite;
                }
            }
        }
    }

    app-common-overlay {
        img {
            width: 200px;
            margin-bottom: 40px;
            cursor: pointer;
        }

        color: white;
        font-family: @secondaryFont;

        h2 {
            font-size: 28px;
            font-weight: normal;
            margin: 7px 0;
            cursor: pointer;
            img {
                display: inline;
                height: 22px;
                width: auto;
                margin: 0;
                margin: 0 3px;
            }
        }
    }

    @media only screen and (max-width: 700px)  {
        img {
            display: none;
        }
        app-common-overlay {
            h2 {
                font-size: 22px;
                img {
                    height: 16px;
                }
            }
        }
    }
}
