<div class='lang' [class.selected]='selected' (click)='toggle($event)'>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.42 13.81">
    <defs>
      <style>
        .cls-1{fill:none;stroke-miterlimit:10;stroke-width:2px;}
      </style>
    </defs>
    <line class="cls-1" y1="1" x2="16.42" y2="1"/>
    <line class="cls-1" y1="6.91" x2="16.42" y2="6.91"/>
    <line class="cls-1" y1="12.81" x2="16.42" y2="12.81"/>
  </svg>
</div>

<app-common-overlay *ngIf='selected'>
  <a [href]="_.P('/')"><img src='assets/footer-logo.svg' height='110px'/></a>
  <h2 i18n ><a [href]="_.P('/publications')">מאגר המידע הכללי</a></h2>
  <h2 i18n ><a [href]="_.P('/stats')">סטטיסטיקה מגדרית</a></h2>
  <h2 i18n ><a [href]="_.P('/organisations')">ארגונים ופעילות בתחום המגדר</a></h2>
  <h2 i18n ><a [href]="_.P('/gender-index')">מדד המגדר</a></h2>
  <h2 i18n ><a [href]="_.P('/about')">אודות</a></h2>
  <h2 i18n ><a [href]="_.P('/contact-us')">צרו קשר</a></h2>
  <h2 i18n ><a [href]="_.P('/eula')">תקנון האתר</a></h2>
  <h2 i18n ><a [href]="_.P('/privacy')">מדיניות פרטיות</a></h2>
</app-common-overlay>