<app-info-page>
  <h1>מדד המגדר?</h1>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
  <p>טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. טקסט חסר. </p>
</app-info-page>