<app-fixed-background [color]='"rgba(0,0,0,0.05)"'></app-fixed-background>
<app-gender-index-page-header></app-gender-index-page-header>
<div class='info-links'>
  <div class='info-link' (click)='router.navigate(["./methodology"])'>
    <h1 i18n>מה זה מדד המגדר? כיצד הוא מחושב?</h1>
    <h2 i18n>מדד המגדר של שוות - המרכז לקידום נשים בזירה הציבורית במכון ון ליר בירושלים הוא כלי מדידה רב עוצמה הבוחן שינויים לאורך זמן במצבם של נשים וגברים בישראל מאז שנת 2004.</h2>
    <p i18n>לקריאה על המתודולוגיה של מדד המגדר</p>
  </div>
  <div class='info-link' (click)='router.navigate(["./inequality"])'>
    <h1 i18n>האם הצטמצם אי השוויון במשך השנים?</h1>
    <h2 i18n>בחינת האי-שוויון המגדרי נעשית לא רק על פי ההבחנה הבינארית בין גברים לנשים אלא גם בהצטלבויות בין מגדר לבין מיקומים חברתיים שונים, כמו הפריפריה והחברה הערבית בישראל.</h2>
    <p i18n>עוד בנושא שוויון מגדרי</p>
  </div>
  <div class='info-link' (click)='router.navigate(["./gaps"])'>
    <h1 i18n>היכן הפער הגדול ביותר?</h1>
    <h2 i18n>אומדן זה מאפשר להשוות בין הממדים השונים של מדד המגדר ולדרג אותם לפי עומק הפער המגדרי הקיים בהם. ניתן גם לבחון את עוצמת האי שוויון בכל ממד לאורך זמן ולדעת אילו שינויים חלו בו במהלך השנים.</h2>
    <p i18n>עוד בנושא הפער המגדרי</p>
  </div>
</div>
<app-gender-index-page-footer></app-gender-index-page-footer>