<app-horizontal-selector>
  <span class='title' i18n>ארגון לפי</span>
  <ul>
    <li [class.selected]='selected===""'
        (click)='selected = ""'
    >רלוונטיות</li>
    <!--li [class.selected]='selected==="popularity"'
        (click)='selected = "popularity"'
    >פופולריות</li>
    <li [class.selected]='selected==="lexicographic"'
        (click)='selected = "lexicographic"'
    >א-ת</li-->
    <li [class.selected]='selected==="year"'
        (click)='selected = "year"'
    >זמן (חדש לישן)</li>
  </ul>
</app-horizontal-selector>