<div class='container'>
  <h1>ארגונים ופעילות בתחום המגדר</h1>
  <h2>
  כאן ניתן למצוא מגוון עשיר של ארגונים, יוזמות וגורמים הפועלים לקידום שוויון מגדרי,
  <br/>
  וכן תכניות ללימודי מגדר במוסדות האקדמיים. המאגר מפרט, בין היתר, תחומי פעילות,
  <br/>
  שירותים שניתן לקבל ופרטי התקשרות
  </h2>
</div>
<div [class]='"carousel-card phase-" + ((phase + 1) % 4)'>
  <h3>120 קבוצות תמיכה</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 2) % 4)'>
  <h3>84 עמותות</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 3) % 4)'>
  <h3>13 מוסדות לימוד</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div [class]='"carousel-card phase-" + ((phase + 4) % 4)'>
  <h3>57 ארגוני שינוי חברתי</h3>
  <img src="http://placekitten.com/700/350"/>
</div>
<div class='points'>
  <div class='point' [class.active]='phase==0' (click)='phase=0'></div>
  <div class='point' [class.active]='phase==1' (click)='phase=1'></div>
  <div class='point' [class.active]='phase==2' (click)='phase=2'></div>
  <div class='point' [class.active]='phase==3' (click)='phase=3'></div>
</div>