<div class='container'>
  <h1 i18n>ארגונים ופעילות בתחום המגדר</h1>
  <h2 i18n>
  כאן ניתן למצוא מגוון עשיר של ארגונים, יוזמות וגורמים הפועלים לקידום שוויון מגדרי,
  <br/>
  וכן תכניות ללימודי מגדר במוסדות האקדמיים. המאגר מפרט, בין היתר, תחומי פעילות,
  <br/>
  שירותים שניתן לקבל ופרטי התקשרות
  </h2>
</div>
<div [class]='"carousel-card phase-" + ((phase + 1) % 4)'>
  <h3 i18n>מקדמות מדיניות לשוויון מגדרי</h3>
  <img src="assets/org-slides/slide1.png"/>
  <h4>צילום: תמר עבאדי, מולטימדיה מכון ון ליר</h4>
</div>
<div [class]='"carousel-card phase-" + ((phase + 2) % 4)'>
  <h3 i18n>יוצרות סולידריות</h3>
  <img src="assets/org-slides/slide2.png"/>
  <h4>צילום: איתך-מעכי ופורום ארגוני צעירות</h4>
</div>
<div [class]='"carousel-card phase-" + ((phase + 3) % 4)'>
  <h3 i18n>נאבקות ברצח נשים ואלימות מגדרית</h3>
  <img src="assets/org-slides/slide3.png"/>
  <h4>צילום: יובל עופר</h4>
</div>
<div [class]='"carousel-card phase-" + ((phase + 4) % 4)'>
  <h3 i18n>פועלות לשיפור מצבן של נשים בשוק העבודה</h3>
  <img src="assets/org-slides/slide4.png"/>
  <h4>צילום: שיר ניומן</h4>
</div>
<div class='points'>
  <div class='point' [class.active]='phase==0' (click)='phase=0'></div>
  <div class='point' [class.active]='phase==1' (click)='phase=1'></div>
  <div class='point' [class.active]='phase==2' (click)='phase=2'></div>
  <div class='point' [class.active]='phase==3' (click)='phase=3'></div>
</div>